<template>
  <q-page class="flex column q-pa-md">

    <portal to="ToolbarButtons">
      <q-btn dense flat round icon="delete" @click="messages = []"/>
    </portal>

    <div class="column grow">
      <div v-for="msg, idx in messages" :key="idx" class="row">
        <span class="text-secondary q-mr-md">{{ username(msg.user) }}</span>
        <span class="grow">{{ msg.msg }}</span>
        <span>{{ formatTimestamp(msg.timestamp) }}</span>
      </div>
    </div>
    <q-input
      v-model="input"
      autofocus
      outlined
      class="q-mt-md"
      placeholder="Tapez votre message..."
      @keyup.enter="sendMessage"
      >
      <template v-slot:after>
        <q-btn round dense flat icon="send" color="accent" @click="sendMessage"/>
      </template>
    </q-input>
  </q-page>
</template>

<script>
import { date } from 'quasar'

export default {
  name: 'ChatRoom',

  inject: ['backend'],

  mounted () {
    this.reconnectTopic()
  },

  beforeRouteLeave (to, from, next) {
    console.log('unmounted')
    this.subscription && this.subscription.unsubscribe()
    next()
  },

  data () {
    return {
      input: '',
      messages: []
    }
  },

  methods: {
    reconnectTopic () {
      console.log('Trying to reconnect to the topic')

      if (!this.backend.websocket.connected) {
        const vue = this
        setTimeout(() => vue.reconnectTopic(), 2000)
      } else {
        this.subscription = this.backend.websocket.subscribe('/chatroom', (message) => {
          console.log('received chat message')
          const wsMessage = JSON.parse(message.body)
          this.messages.push(wsMessage)
        })
      }
    },

    sendMessage () {
      this.backend.websocket.send('/app/chatroom.send',
        {},
        JSON.stringify({ msg: this.input })
      )

      this.input = ''
    },

    formatTimestamp (timestamp) {
      return date.formatDate(timestamp, 'DD MMM HH:mm:ss')
    }
  },

  computed: {
    username () {
      return (id) => {
        const user = this.$store.getters['api/getUser'](parseInt(id))
        return user ? `${user.firstName} ${user.lastName}` : id
      }
    }
  }
}
</script>
