<template>
  <q-page class="flex column">

    <!-- Users card grid -->
    <my-user-card v-for="u in users" :key="u.id" :user="u"/>

  </q-page>
</template>

<script>
import MyUserCard from 'components/MyUserCard'

export default {
  name: 'PageIndex',
  components: { MyUserCard },
  computed: {
    users () { return this.$store.getters['api/getUsers'] }
  }
}
</script>
