<template>
  <q-page padding class="row">

    <!-- List with filter -->
    <div class="column q-mr-md col" v-if="displayList">
      <q-input
        outlined
        clearable
        v-model="filter"
        placeholder="Filtrer..."
        class="q-mb-md"
        />

      <q-list bordered separator class="col">
        <q-item clickable v-ripple v-for="u in filteredUsers" :key="u.id" :to="`/list/${u.id}`">
          <q-item-section avatar>
              <q-icon name="face"/>
          </q-item-section>
          <q-item-section>{{ `${u.firstName} ${u.lastName}` }}</q-item-section>
        </q-item>
      </q-list>
    </div>

    <!-- Editor -->
    <user-editor
      v-if="editorMode"
      :user="createMode ? null : selectedUser"
      class="col"/>

    <!-- Details -->
    <my-user-card
      v-else-if="selectedUser"
      :user="selectedUser"
      class="col"/>

    <!-- FAB -->
    <q-page-sticky v-if="!editorMode" position="bottom-right" :offset="[18, 18]">
      <q-btn fab color="primary" icon="add" @click="$router.push({ name: 'UserCreate' })"/>
    </q-page-sticky>

  </q-page>
</template>

<script>
import MyUserCard from 'components/MyUserCard'
import UserEditor from 'components/UserEditor'

export default {
  name: 'PageList',

  components: { MyUserCard, UserEditor },

  props: {
    userId: Number
  },

  data () {
    return {
      filter: ''
    }
  },

  computed: {
    users () { return this.$store.getters['api/getUsers'] },
    displayList () { return this.$q.screen.gt.xs || this.selectedUser == null },
    selectedUser () { return this.$store.getters['api/getUser'](this.userId) },
    createMode () { return ['UserCreate'].includes(this.$route.name) },
    editorMode () { return ['UserCreate', 'UserEdit'].includes(this.$route.name) },

    filteredUsers () {
      if (this.filter === null) {
        return this.users
      } else {
        const reg = new RegExp(this.filter, 'i')
        return this.users.filter(u => reg.test(u.firstName) || reg.test(u.lastName))
      }
    }
  }

}
</script>
