<template>
  <div class="row items-center justify-center fullscreen">
    <login-card @loggedIn="onLoggedIn"/>
  </div>
</template>

<script>
import LoginCard from 'components/LoginCard'

export default {
  name: 'LoginPage',
  components: { LoginCard },
  methods: {
    onLoggedIn () {
      this.$router.replace('/')
    }
  }
}
</script>
