<template>
  <q-card :style="`width: ${mobile ? '95vw' : '50vw'}`">
    <q-card-section class="bg-primary text-white text-center">
      <div class="text-h6">Authentification</div>
    </q-card-section>

    <q-card-section>
      <q-form ref="loginForm" @submit.prevent.stop="onSubmit" @reset.prevent.stop="onReset" class="q-gutter-md">
        <q-input
          autofocus
          v-model="form.firstName"
          placeholder="Utilisateur"
          @keyup.enter="login"
          :rules="[val => !!val || 'Champ obligatoire']"/>

        <q-input
          v-model="form.email"
          placeholder="Adresse e-mail"
          :type="displayPassword ? 'text' : 'password'"
          :rules="[val => !!val || 'Champ obligatoire']"
          @keyup.enter="login"
          >
          <template v-slot:append>
            <q-icon
              :name="displayPassword ? 'visibility' : 'visibility_off'"
              class="cursor-pointer"
              @click="displayPassword = !displayPassword"
            />
          </template>
      </q-input>
      </q-form>
    </q-card-section>

    <q-card-actions horizontal>
      <slot></slot>
      <q-btn class="col" label="Se connecter" :loading="queryRunning" @click="login"/>
    </q-card-actions>
  </q-card>

</template>

<script>
export default {
  name: 'LoginCard',

  inject: ['backend'],

  data () {
    return {
      displayPassword: false,
      queryRunning: false,
      form: {
        firstName: null,
        email: null
      }
    }
  },

  computed: {
    mobile () { return this.$q.screen.lt.md }
  },

  methods: {
    login () {
      this.$refs.loginForm.validate().then((valid) => {
        if (!valid) return

        this.queryRunning = true
        this.backend.api.login(this.form.firstName, this.form.email)
          .then(() => this.$emit('loggedIn'))
          .finally(() => {
            this.queryRunning = false
          })
      })
    }
  }
}
</script>
