<template>
  <q-card class="q-ma-md">
    <q-card-section class="text-h6 row items-center">
      <slot name="title">
        <q-icon v-if="icon" :name="icon" size="xl" class="q-mr-md"/>
        {{ title }}
      </slot>
    </q-card-section>

    <q-separator inset/>

    <q-card-section>
      <slot></slot>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  props: {
    title: String,
    icon: String
  }
}
</script>
