<template>
  <my-card>
    <template slot="title">
      <q-icon name="face" size="xl" class="q-mr-md"/>
      {{ `${user.firstName} ${user.lastName}` }}
      <q-space/>
      <q-btn flat round color="accent" icon="delete" @click="confirmDelete"/>
      <q-btn flat round color="accent" icon="edit" @click="$router.push({ name: 'UserEdit', params: { id: user.id } })"/>
    </template>

    <div class="row items-center">
      <q-icon class="q-mr-md" name="vpn_key" size="1.5em"/> {{ user.id }}
    </div>

    <div class="row items-center">
      <q-icon class="q-mr-md" name="mail" size="1.5em"/> {{ user.email }}
    </div>
  </my-card>
</template>

<script>
import API from '../tools/api'
import MyCard from './MyCard'

export default {
  components: { MyCard },

  props: {
    user: Object
  },

  methods: {
    confirmDelete () {
      this.$q.dialog({
        title: 'Confirmer',
        message: 'Etes vous sur de vouloir supprimer cet utilisateur ?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        API.deleteUser(this.user)
      })
    }
  }
}
</script>
