<template>
  <my-card>
    <template slot="title">
      <q-icon name="edit" class="q-mr-md"/>
      {{ title }}
      <q-space/>
      <q-btn flat round color="accent" icon="cancel" @click="$router.go(-1)"/>
      <q-btn flat round color="accent" icon="save" :loading="requestPending" @click="save"/>
    </template>

    <q-form ref="editorForm" @submit.prevent.stop="onSubmit" @reset.prevent.stop="onReset">
      <q-input
        autofocus
        v-model="form.firstName"
        placeholder="Prénom"
        :rules="[val => !!val || 'Champ obligatoire']"
        @keyup.enter="save"
        />

      <q-input
        v-model="form.lastName"
        placeholder="Nom"
        :rules="[val => !!val || 'Champ obligatoire']"
        @keyup.enter="save"
        />

      <q-input
        v-model="form.email"
        placeholder="Email"
        :rules="[val => !!val || 'Champ obligatoire']"
        @keyup.enter="save"
        />
    </q-form>
  </my-card>
</template>

<script>
import API from '../tools/api'
import MyCard from 'components/MyCard'

export default {
  name: 'UserEditor',

  components: { MyCard },

  props: {
    user: Object
  },

  data () {
    return {
      requestPending: false,
      form: {
        firstName: this.user ? this.user.firstName : null,
        lastName: this.user ? this.user.lastName : null,
        email: this.user ? this.user.email : null
      }
    }
  },

  computed: {
    title () { return this.user ? 'Editer l\'utilisateur' : 'Créer un utilisateur' }
  },

  methods: {
    save () {
      this.$refs.editorForm.validate().then((valid) => {
        if (!valid) return

        this.requestPending = true
        const newUser = Object.assign({}, this.user, this.form)

        if (this.user) {
          API.updateUser(newUser)
            .then(() => this.$router.go(-1))
            .finally(() => { this.requestPending = false })
        } else {
          API.createUser(newUser)
            .then(user => this.$router.replace({ name: 'UserShow', params: { id: user.id } }))
            .finally(() => { this.requestPending = false })
        }
      })
    }
  }

}
</script>
