<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
import APIController from './tools/api'
import createStompClient from './tools/stomp'

export default {
  name: 'App',

  // Setup WSController in view by dynamic injection
  // (can't do with Vue.prototype as the actual instance change when recreating the socket)
  provide () {
    return {
      backend: this.provided
    }
  },

  // Access to api & websocket through injection via provide
  data () {
    return {
      provided: {
        websocket: null,
        api: null
      }
    }
  },

  // Setup APIController in views
  created () {
    this.provided.api = APIController
  },

  /**
   * Setup API and Websocket
   */
  mounted () {
    const store = this.$store
    const api = this.provided.api

    // Setup basic error handling for public API
    api.clearClient.interceptors.response.use(response => response, error => {
      console.log(error)
      this.$q.notify({ type: 'negative', message: error.message })
      throw error
    })

    // Setup automatic injection of the authorization header
    api.protectedClient.interceptors.request.use(function (config) {
      config.headers.Authorization = `Bearer ${store.state.auth.token}`
      return config
    })

    // Setup error handler to display the login dialog in-app
    api.protectedClient.interceptors.response.use(response => response, error => {
      console.log(error)

      if (error.response && error.response.status === 401) {
        this.$q.notify({ type: 'warning', message: 'Utilisateur déconnecté' })
        store.dispatch('auth/setRefreshToken', true)
      } else {
        this.$q.notify({ type: 'negative', message: error.message })
      }

      throw error
    })

    // Setup WebSocket client
    this.provided.websocket = createStompClient(this)

    // Initial user refresh
    api.refreshUsers()
  },

  computed: {
    authToken () { return this.$store.getters['auth/token'] }
  },

  watch: {

    // Watch for token change and reconnect the websocket if needed
    authToken (n, o) {
      console.log(`auth token changed from ${o} to ${n}`)

      if (this.client) {
        this.provided.websocket.deactivate()
        this.provided.websocket = null
      }

      this.provided.websocket = createStompClient(this)
    }
  }
}
</script>
