<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <!-- Drawer button -->
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Quasar App
        </q-toolbar-title>

        <!-- Portal for buttons injection -->
        <portal-target name="ToolbarButtons">

          <!-- Global refresh button -->
          <q-btn flat round icon="refresh" @click="refreshUsers"/>

        </portal-target>

        <!-- Account popup -->
        <q-btn flat round icon="account_circle">
          <q-menu>
            <div class="column no-wrap q-pa-md">
              <div class="text-h6">Profile</div>

              <q-separator inset class="q-my-md" />

              <div class="text-subtitle1">{{ tokenPayload.given_name }} {{ tokenPayload.family_name }}</div>
              <div>ID : {{ tokenPayload.sub }}</div>

              <q-btn
                color="primary"
                label="Logout"
                size="sm"
                class="q-mt-md"
                v-close-popup
                @click="logout"
              />
            </div>
          </q-menu>
        </q-btn>
      </q-toolbar>
    </q-header>

    <!-- Drawer menu -->
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Essential Links
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <!-- Page container with main router-view -->
    <q-page-container>
      <router-view />

      <!-- Reconnection dialog -->
      <q-dialog :value="tokenNeedsRefresh" persistent>
        <login-card @loggedIn="refreshUsers">
          <q-btn class="col" label="Annuler" @click="$store.dispatch('auth/setRefreshToken', false)"/>
        </login-card>
      </q-dialog>
    </q-page-container>
  </q-layout>
</template>

<script>
import API from '../tools/api'
import LoginCard from 'components/LoginCard'
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'Cards',
    caption: 'Utilisateurs en cards',
    icon: 'group',
    link: '/cards'
  },
  {
    title: 'Liste',
    caption: 'Utilisateurs en liste',
    icon: 'group',
    link: '/list'
  },
  {
    title: 'ChatRoom',
    caption: 'Une chatroom publique',
    icon: 'chat',
    link: '/chat'
  }
]

export default {
  name: 'MainLayout',

  components: { LoginCard, EssentialLink },

  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  },

  computed: {
    tokenNeedsRefresh () { return this.$store.getters['auth/tokenNeedsRefresh'] },
    tokenPayload () { return this.$store.getters['auth/tokenPayload'] }
  },

  methods: {
    refreshUsers () { API.refreshUsers() },
    logout () {
      this.$store.dispatch('auth/logout', null).then(() => {
        this.$q.notify('Utilisateur déconnecté')
        this.$router.push('/login')
      })
    }
  }
}
</script>
